
.nav{
    position: absolute;
width: 1178px;
height: 98px;
display: flex;
top: 0px;

background: #5A87BC;
}

.titre{
    top: 110px;
   
    position: absolute;
width: 522px;
height: 52px;
display: flex;
justify-content: center;
color:white;


background: #5A87BC;
}
.general{
   display:flex;
   justify-content: center;
   
    
    width: auto;
    height: 100%;
    
    top: 0px;
    background-image: url("../connexion.jpg");
    background-size: cover;   
}
img{
    border-radius: 30px;
    margin-top: 5px;
    margin-left: 5px;
    width: 90px;
height: 90px;
    
}
.container{
 margin-left: 32%;
  padding-top: 20px;
font-size: 22px;
  
    box-sizing: border-box;
display: flex;
justify-content: center;
width: 43%;
height: 55%;

border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
background:linear-gradient(rgba(255, 255, 255, 0.747),rgba(252, 249, 249, 0.452));
border: 2px solid #5A87BC;
}

.btn{

    box-sizing: border-box;
color: whITE;
    
    width: 191px;
    height: 34px;
    margin-left: 20%;
    background: #5A87BC;
    border: 1px solid #5A87BC;
    border-radius: 6px; 

}
.case{ 
    box-sizing: border-box;
margin-bottom: 25px;

width: 400px;
height: 44px;

background: #FFFDFD;
border: 1px solid #5A87BC;
border-radius: 6px;
}
*{
    margin: 0px;
    padding: 0px;
}
.active
{width: auto;
    height: auto;
    
    color: rgb(238, 16, 16);
}
.header{
    background-color:  #5A87BC;
    height: 100px;
    font-weight: bold;
    
    position: fixed;
    width: 100%;
    
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    margin-top: 25px;
    margin-right: 25px;
}
.z{
    border-radius: 60px;
    margin: 25px;
    width: 75px;
    height: 75px;
    margin-top: 15px;
}
    


.menu li{
    float: right;
    padding: 15px;
}   

.B{
    margin-left: 10px ;
}
.menu li a{
    text-decoration: none;
}
h1{
    color: #f4f6f8;
    text-align: center;
}
.tex{
    color: black;
    font-size: 31px;
    margin: 50px 120px;
    text-align: justify;
}
img{
    width: 1631px;
    height: 659px; 
    border-radius: 25px;
}
.a{
    
    display: flex;
    
    
    
    
   
    
}
h6{
    color: white;
    font-size: 18px;
}
p{
    color: white;
    font-size: 22px;

}
main{
    width: 100%;
    padding-top: 150px;
    
}

span{
    color: red;

}
footer{
    background-color: black;
    width: auto;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 220px;
   
}
body{
    
}
.description{
display: flex;
justify-content: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
background: #5A87BC;
border: 2px solid #5A87BC;
width: 42.7%;
    height: 7%;
    margin-left: 32%;
    display: flex;
}


    .li{
        width: 60px;
        height: 15px;
    
        box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 15px;
        color:rgb(14, 2, 2);
        text-decoration: none;
        border-radius: 5px;
        background: #f5f6f8;
        
        cursor: pointer;
        display: flex;
        
        justify-content: center;
        margin-bottom: 10px;
       
    }